{% extends admin_base_template %}
{% block head_css %}
{{super()}}
<link href="{{ url_for('static', filename='bootstrap-wysihtml5-0.0.2.css')}}" rel="stylesheet">
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
{% endblock %}
{% block tail_js %}
{{super()}}
<script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushPython.js"></script>
<script src="{{url_for('static', filename='wysihtml5-0.4.0pre.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='bootstrap3-wysihtml5.js')}}" type="text/javascript"></script>
<script type = "text/javascript"> $('#description').wysihtml5(); </script>
{% endblock %}
