<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<div class="modal-header">
    <center>
        <h4>
            {{ user.name }}'s Source Code of {{ prob.name }}
        </h4>
    </center>
</div>
<div class="modal-content">
    <ul class="nav nav-tabs" role="tablist">
        {% for code in code_list %}
        {% if code[1] is equalto '0'%}
        <li role="presentation" class = 'active'>
        {% else%}
        <li role="presentation">
        {% endif%}
        <a href="#{{sid}}_code_{{code[1]}}" aria-controls="{{sid}}_code_{{code[1]}}" role="tab" data-toggle="tab">
            {{code[0]}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for code in code_list %}
        {% if code[1] is equalto '1'%}
        <div role="tabpanel" class="tab-pane active" id="{{sid}}_code_{{code[1]}}">
            {% else%}
            <div role="tabpanel" class="tab-pane" id="{{sid}}_code_{{code[1]}}">
            {% endif %}
            <pre class="prettyprint">{{code[2]}}</pre>
        </div>
        {% endfor %}
    </div>
</div>
