{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <center><h2>{{ homework.name }}</h2></center>
</div>
<div class="page-content">
    {% if plist %}
    <table class="table table-striped table-hover">
        <thead>
            <th>Problem Name</th>
            <th>Author</th>
        </thead>
        <tbody>
            {% for problem in (plist) %}
            <tr>
                <td><a href="{{url_for('prob.prob_view', hid = homework.id, pid = problem.id)}}">{{ problem.name }}</a></td>
                <td>{{ problem.author.name  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h4>Not have Problem</h4>
    {% endif %}
</div>
{% endblock %}
