{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <div class="container">
        <h2>Contest List</h2>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Contest ID</td>
                    <td>Contest Name</td>
                    <td>Begin Time</td>
                    <td>End Time</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>2016-04-01 00:00:00</td>
                    <td>2016-05-01 00:00:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}