{% extends "base.html" %}
{% block page_content %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="page-header">
    <h1>Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.name }}
    {% else %}
        Stranger
    {% endif %}!</h1>
</div>
<div class="page-content">
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="ptab" href="#problem" aria-controls="problem" role="tab" data-toggle="tab">Problem</a></li>
        <li role="presentation"><a id="htab" href="#homework" aria-controls="profile" role="tab" data-toggle="tab">Homework</a></li>
        <li role="presentation"><a id="ctab" href="#traincamp" aria-controls="messages" role="tab" data-toggle="tab">Train Camp</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="problem"></div>
        <div role="tabpanel" class="tab-pane" id="homework"></div>
        <div role="tabpanel" class="tab-pane" id="traincamp"></div>
    </div>
</div>

</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='rank.js')}}"></script>
</script>
{% endblock %}