{% extends "base.html" %}
{% block page_content %}
{% import "bootstrap/wtf.html" as wtf %}
<link href="{{ url_for('static', filename='oj.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrapValidator.css')}}">
<div class="page-header">
    <div class="container">
        <h2>{{ problem.name }}</h2>
        <p><b>author:</b>{{ problem.author.name }}</p>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a id="ptab" href="#problem" aria-controls="problem" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a id="htab" href="#rank" aria-controls="profile" role="tab" data-toggle="tab">Rank</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="problem">
                            <p class="lead">Description</p>
                            <div class="well">{{problem.description | safe }}</div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rank">
                            {% if prank %}
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in prank %}
                                    <tr>
                                        <td>{{p[0].name}}</td>
                                        <td>{{p[1]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>还没有人提交哦~</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if not hid == -1 %}
            <div class="col-sm-4">
                <a class="btn btn-warning" href="{{url_for('download.download_data', filename = data.name + '_train')}}">下载训练集</a>
                <a class="btn btn-warning" href="{{url_for('download.download_data', filename = data.name + '_test1')}}">下载测试集</a>
                <div id="progress">
                      <div class="bar" style="width: 0%;"> </div>
                </div>
                {{ wtf.quick_form(form, id='fileupload') }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='prob_validator.js')}}"></script>
<script src="{{url_for('static', filename='jquery.ui.widget.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='jquery.fileupload.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='main_user.js')}}" type="text/javascript"></script>
{% endblock%}
