{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <h2>Problem Set</h2>
</div>
<div class="page-content">
    {% if plist %}
    <table class="table table-striped">
        <thead>
            <th>Problem ID</th>
            <th>Problem Name</th>
        </thead>
        <tbody>
            {% for problem in plist %}
            <tr>
                <td>{{ problem.id }}</td>
                <td><a href="{{ url_for('prob.prob_view', pid=problem.id, hid=-1) }}">{{ problem.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h4>Not have Problem</h4>
    {% endif %}
</div>
{% endblock %}