{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <div class="container">
        <h3>1000. A + B Problem</h3>
    </div>
    <div class="container">
        <div class="col-lg-6">
            <table>
                <tr>
                    <td><strong>Time Limit: </strong></td>
                    <td>1ms</td>
                </tr>
                <tr>
                    <td><strong>Total Submissions: </strong></td>
                    <td>0</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <table>
                <tr>
                    <td><strong>Memory Limit: </strong></td>
                    <td>32M</td>
                </tr>
                <tr>
                    <td><strong>Accepted: </strong></td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                    <p class="lead">Description</p>
                    <div class="well">Calculate a+b</div>
                    <p class="lead">Input</p>
                    <div class="well">Two integer a,b (0<=a,b<=10)</div>
                    <p class="lead">Output</p>
                    <div class="well">Output a+b</div>
                    <p class="lead">Sample Input</p>
                    <pre>1 2</pre>
                    <p class="lead">Sample Output</p>
                    <pre>3</pre>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-default" href="#">Submit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
