{% extends "bootstrap/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sort.css')}}">
{% if prank %}
    <table class="table table-striped tablesorter" id="rank">
        <thead>
            <th>User</th>
            {% for prob in plist %}
            <th>{{ prob.name }}</th>
            {% endfor %}
            {% if not type is equalto 'prob' %}
            <th>Total</th>
            {% endif %}
        </thead>
        <tbody>
            {% for prk in prank %}
            <tr>
                <td>{{ prk[0] }}</td>
                {% for pid in prank[0][1]%}
                {% if pid != 'total' %}
                <td>{{ prk[1][pid] }}</td>
                {% endif %}
                {% endfor %}
                {% if not type is equalto 'prob' %}
                <td>{{ prk[1]['total'] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>There are not submissions.</p>
{% endif %}
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='rank.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#rank").tablesorter();   
}); 
</script>
{% endblock %}