{% extends "bootstrap/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sort.css')}}">
{% if prank %}
    <table class="table table-striped tablesorter" id="{{type}}">
        <thead>
            {% for text in plist %}
            <th>{{ text }}</th>
            {% endfor %}

        </thead>
        <tbody>
            {% for prk in prank %}
            <tr>
                {% for p in prk%}
                <td>{{ p }}</td>
                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>There are not submissions.</p>
{% endif %}
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}