{% extends "bootstrap/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sort.css')}}">
{% if prank %}
    <table class="table table-striped tablesorter" id="{{type}}">
        <thead>
            <th>User</th>
            {% for prob in plist %}
            <th>{{ prob.name }}</th>
            {% endfor %}

        </thead>
        <tbody>
            {% for prk in prank %}
            <tr>
                <td>{{ prk[0] }}</td>
                {% for pid in prank[0][1]%}
                {% if pid != 'total' %}
                <td>{{ prk[1][pid] }}</td>
                {% endif %}
                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>There are not submissions.</p>
{% endif %}
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}