{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <center><h2>Status</h2></center>
</div>
<div class="page-content">
    {% if slist %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Submit ID</td>
                <td>User Name</td>
                <td>Prob ID</td>
                <td>Time</td>
                <td>Source</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            {% for submit in slist %}
            <tr>
                <td>{{ submit.id }}</td>
                <td>{{ submit.user.name }}</td>
                <td><a href="{{ url_for('prob.prob_view', cid=submit.prob.contest.id, pid=submit.prob.show_id) }}">{{ submit.prob.show_id }}</a></td>
                <td>{{ submit.time }}</td>
                {% if submit.user.id == cuid %}
                    <td><a href="{{ url_for('prob.code_view', sid=submit.id) }}">Code</a></td>
                {% else %}
                    <td>Code</td>
                {% endif %}
                <td>{{ submit.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>you don't have submissions</h4>
    {% endif %}
</div>
{% endblock %}