{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <center><h2>Status</h2></center>
</div>
<div class="page-content">
    {% if slist %}
    <table class="table table-striped">
        <thead>
            <th>Submit ID</th>
            <th>User Name</th>
            <th>Prob ID</th>
            <th>Time</th>
            <th>Source</th>
            <th>Status</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for submit in slist %}
            <tr>
                <td>{{ submit.id }}</td>
                <td>{{ submit.user.name }}</td>
                {% if submit.h_id is none %}
                <td><a href="{{ url_for('prob.prob_view', hid='-1', pid=submit.prob.id) }}">{{ submit.prob.name }}</a></td>
                {% else %}
                <td><a href="{{ url_for('prob.prob_view', hid=submit.h_id, pid=submit.prob.id) }}">{{ submit.prob.name }}</a></td>
                {% endif %}
                <td>{{ submit.time }}</td>
                <td><a data-toggle="modal" href="{{url_for('download.code_show', sid = submit.id)}}" data-target="#{{submit.id|string}}">查看代码</a></td>
                <td>{{ submit.status }}</td>
                <td>{{ submit.score }}</td>
            </tr>
            <div class="modal fade " id="{{submit.id|string}}" tabindex="-1" role="dialog" aria-labelledby="{{submit.id|string}}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>you don't have submissions</h4>
    {% endif %}
</div>
{% endblock %}
