{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <center><h2>Status</h2></center>
</div>
<div class="page-content">
    {% if slist %}
    <table class="table table-striped">
        <thead>
            <th>Submit ID</th>
            <th>User Name</th>
            <th>Prob ID</th>
            <th>Time</th>
            <th>Source</th>
            <th>Status</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for submit in slist %}
            <tr>
                <td>{{ submit.id }}</td>
                <td>{{ submit.user.name }}</td>
                <td><a href="{{ url_for('prob.prob_view', hid=chid, pid=submit.prob.id) }}">{{ submit.prob.name }}</a></td>
                <td>{{ submit.time }}</td>
                <td>Code</td>
                <td>{{ submit.status }}</td>
                <td>{{ submit.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>you don't have submissions</h4>
    {% endif %}
</div>
{% endblock %}
